<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Full Regression" parallel="tests" thread-count="2">
    <test name="Inventory Tests">
        <classes>
            <class name="tech.fertavora.webdriver.tests.InventoryTests"/>
        </classes>
    </test>
    <test name="LogIn Tests">
        <classes>
            <class name="tech.fertavora.webdriver.tests.LogInTests"/>
        </classes>
    </test>
</suite>
